#toggle {
  position: absolute;
  top: 20vh; left: 50vw; 
  transform: translateX(-50%);
  background-color: #ccc;
  padding: 20px 100px;
  font-size: 20px;
}

.wrap {
  position: relative;
  width: 60px; height: 60px;
  background-color: black;
}
#circle {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  width: 40px; height: 40px;
  border-radius: 20px;
  transition: .5s;
  background-color: white;
  z-index: 2;
}

.light {
  width:20px !important; 
  height: 20px!important;
}

#gap {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 27px; height: 27px;
  border-radius: 50%;
  background-color: black;
  z-index: 1;
}

#cover {
  position: absolute;
  inset: 0% 100%;
  transform: translate(-50%, -50%);
  width: 40px; height: 40px;
  border-radius: 50%;
  opacity: 0;
  background-color: black; 
  z-index: 3;
}

.line {
  position: absolute;
  margin: auto;
  inset: 0;
  width: 5px;
  height: 40px;
  background: #fff9;
  opacity: 1;
  transition: 1s;
}

#circle:not(.light) ~ .line{
  opacity: 0;
}

.sundown {
  animation: sundown 1.5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes sundown {
  0% {
    inset: 0% 100%;
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    inset: 40% 60%;
    opacity: 1;
  }
}
.sunup {
  animation: sunup 1s ease-out;
}
@keyframes sunup {
  0% {
    inset: 40% 60%;
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    inset:  0% 100%;
    opacity: 0;
  }
}
